<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="./../../images/SavvyList Favicon(1).png"
    />
    <title>Checkout</title>
    <link rel="stylesheet" href="./../../css/style.css" />

    <%- include("./partials/links.ejs")%>

    <script type="module" src="./../javascript/checkout.js" defer></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="logoPart">
          <ul>
            <li><img src="images/logo.png" alt="Savvy List Logo" /></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="topBadges">
                <a class="nav-link" href="index.html">
                  <i class="fas fa-shopping-basket basketSymbol"></i>
                  <div
                    class="badge badge-pill badge-danger basketNumberIndicator"
                  >
                    0
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>

        <div><%- include("./partials/nav.ejs")%></div>
      </header>

      <section class="mainSection">
        <div class="titleName">
          <h1 class="list-boxFont list-Heading">
            <u> Checkout </u>
          </h1>
        </div>

        <div class="listPart">
          <h2 class="list-boxFont">Your Basket</h2>
          <div id="basketItems"></div>
          <div class="deliveryOptions">
            <h3 class="list-boxFont">Delivery Options</h3>
            <input
              type="radio"
              id="collection"
              name="delivery"
              value="collection"
            />
            <label for="collection">Collection</label><br />
            <input
              type="radio"
              id="delivery"
              name="delivery"
              value="delivery"
            />
            <label for="delivery">Home Delivery</label><br />
          </div>
          <div class="listButtons">
            <input type="button" value="Pay Now" onclick="payNow()" />
          </div>
        </div>
      </section>

      <%- include("./partials/footer.ejs")%>
    </div>
  </body>
</html>
