<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="./../../images/SavvyList Favicon(1).png"
    />
    <title><%= title%></title>
    <link rel="stylesheet" href="./../../css/style.css" />

    <%- include("./partials/links.ejs")%>

    <script src="./../javascript/search.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="logoPart">
          <ul>
            <li><img src="images/logo.png" alt="Savvy List Logo" /></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="topBadges">
                <a class="nav-link" href="#">
                  <i class="fas fa-shopping-basket basketSymbol"></i>
                  <div
                    class="badge badge-pill badge-danger basketNumberIndicator"
                  >
                    0
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>

        <div><%- include("./partials/nav.ejs")%></div>
      </header>

      <section class="mainSection">
        <!-- Add a title here for the main body page -->
        <div class="titleName">
          <h1 class="list-boxFont list-Heading">
            Welcome to Savvy List - The Best Shopping List App!
          </h1>
          <p>
            Compare shopping list prices across local supermarkets using our
            comparison app
          </p>
          <a href="list"><button>Enter App</button></a>
        </div>

        <div class="searchPart">
          <!-- Search form for entering a product -->
          <form id="searchForm">
            <div>
              <label for="product">Enter Product:</label>
              <input
                type="text"
                name="product"
                id="product"
                class="searchField"
              />
            </div>
            <div class="searchButtons">
              <input type="submit" onclick="getProduct()" />
            </div>
          </form>
        </div>
        <!-- Section to display suggested products -->
        <div class="suggestionPart" id="suggestionPart">
          <h3>Suggested Products:</h3>
          <ul id="suggestionsList"></ul>
        </div>
      </section>
      <%- include("./partials/footer.ejs")%>
    </div>
  </body>
</html>
