<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="./../../images/SavvyList Favicon(1).png"
    />
    <title>List</title>
    <link rel="stylesheet" href="./../../css/style.css" />

    <%- include("./partials/links.ejs")%>

    <script type="module" src="./../javascript/list.js" defer></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="logoPart">
          <ul>
            <li><img src="images/logo.png" alt="Savvy List Logo" /></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="topBadges" id="topBadges">
                <a class="nav-link" href="checkout">
                  <i class="fas fa-shopping-basket basketSymbol"></i>
                  <div
                    class="badge badge-pill badge-danger basketNumberIndicator"
                  >
                    0
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>

        <div><%- include("./partials/nav.ejs")%></div>
      </header>

      <section class="mainSection">
        <div class="titleName">
          <h1 class="list-boxFont list-Heading">
            <u>Savvy List - Creator</u>
          </h1>
        </div>

        <div class="listPart">
          <h2 class="list-boxFont">Enter Products to Search</h2>
          <form id="productForm">
            <div class="container">
              <label for="products">
                <h5 class="list-boxFont">Product Names (comma-separated):</h5>
              </label>
              <br />
              <input
                type="text"
                id="products"
                name="products"
                class="registrationField"
                oninput="showSuggestions(this.value)"
              />
            </div>

            <div class="suggestionContainer">
              <div
                id="suggestionsBox"
                class="suggestions-box suggestionBox"
              ></div>
            </div>

            <div class="listButtons">
              <input
                type="button"
                value="Search"
                onclick="createProductList()"
              />
              <input
                type="button"
                value="Generate List"
                onclick="generateProductList()"
              />
            </div>
          </form>
          <div id="productResults"></div>

          <button id="clearButton" onclick="clearData()">Clear</button>
        </div>
      </section>
      <%- include("./partials/footer.ejs")%>
    </div>
  </body>
</html>
