<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs")%>
  <body>
    <header>
      <nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark header">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="list">Create List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="registration">Register</a>
              </li>
            </ul>
          </div>
        </nav>
      </nav>
    </header>

    <div class="wrapper">
      <section class="mainSection">
        <div class="logoPart">
          <h1>SAVVY_LIST_LOGO</h1>
        </div>
        <div class="lineDiv"></div>
        <div class="loginPart">
          <!-- Login form -->
          <form id="loginForm" action="" method="post">
            <div>
              <label for="username">Username:</label>
              <input
                type="text"
                name="username"
                id="username"
                class="loginField"
                required
              />
            </div>
            <div>
              <label for="password">Password:</label>
              <input
                type="password"
                name="password"
                id="password"
                class="loginField"
                required
              />
            </div>
            <div class="loginButtons">
              <!-- Submit button for form submission -->
              <input type="submit" value="Login" />

              <!-- Button to cancel and redirect to home page -->
              <input
                type="button"
                value="Cancel"
                onclick="location.href='index.html';"
              />
            </div>
          </form>
        </div>
      </section>
      <%- include ("./partials/footer.ejs")%>
    </div>
  </body>
</html>
