<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="./../../images/SavvyList Favicon(1).png"
    />
    <title>Registration</title>
    <link rel="stylesheet" href="./../../css/style.css" />

    <%- include("./partials/links.ejs")%>

    <script type="module" src="./../javascript/register.js" defer></script>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="logoPart">
          <ul>
            <li><img src="./../images/logo.png" alt="Savvy List Logo" /></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="topBadges">
                <a class="nav-link" href="#">
                  <i class="fas fa-shopping-basket basketSymbol"></i>
                  <div
                    class="badge badge-pill badge-danger basketNumberIndicator"
                  >
                    0
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>

        <div><%- include("./partials/nav.ejs")%></div>
      </header>

      <!--Main section of page.-->
      <section class="mainSection">
        <!--Registration input fields-->
        <div class="registrationPart">
          <form id="registrationForm" action="views/registration" method="post">
            <div>
              <label for="personName">Name:</label>
              <input
                type="text"
                name="name"
                id="personName"
                class="registrationField"
              />
            </div>
            <div>
              <label for="username">Username:</label>
              <input
                type="text"
                name="username"
                id="username"
                class="registrationField"
              />
              <span
                class="infoBtn"
                data-tooltip="Username must be at least 6 characters long."
                >i</span
              >
            </div>
            <div>
              <label for="password">Password:</label>
              <input
                type="password"
                name="password"
                id="password"
                class="registrationField"
              />
              <span
                class="infoBtn"
                data-tooltip="Password must be at least 8 characters long."
                >i</span
              >
            </div>
            <div>
              <label for="passwordVerification">Verify Password:</label>
              <input
                type="password"
                name="password"
                id="passwordVerification"
                class="registrationField"
              />
            </div>
            <div>
              <label for="eircode">Eircode:</label>
              <input
                type="text"
                name="eircode"
                id="eircode"
                class="registrationField"
              />
              <button type="button" id="fetchAddress">Fetch Address</button>
            </div>
            <div>
              <label for="address1">Address:</label>
              <input
                type="text"
                name="address1"
                id="address1"
                class="registrationField"
              />
            </div>
            <div>
              <label for="address2"></label>
              <input
                type="text"
                name="address2"
                id="address2"
                class="registrationField"
              />
            </div>
            <div>
              <label for="email">Email:</label>
              <input
                type="email"
                name="email"
                id="email"
                class="registrationField"
              />
            </div>
            <div class="registerButtons">
              <input type="submit" value="Register" />
              <input type="button" value="Cancel" />
            </div>
          </form>
        </div>
      </section>
      <%- include("./partials/footer.ejs")%>
    </div>
  </body>
</html>
